::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-38deg,#153564 0,#1D71B9 100%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(-38deg,#1D71B9 0,#153564 100%);
}
::selection{
  background-color: var(--primary);
  color: #fff;
}
*{
  scroll-behavior: smooth;
}
