::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-38deg,#B38224 0,#2E2E2E 100%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(-38deg,#2E2E2E 0,#B38224 100%);
}
::selection{
  background-color: var(--primary);
  color: #fff;
}
*{
  scroll-behavior: smooth;
}
